
@mixin titulo01 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin titulo02 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 43px;
    display: flex;
    justify-content: left;
    align-items: left;
}

@mixin titulo03 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}

@mixin titulo04 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}

@mixin titulo05 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}

@mixin titulo06 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #000000;
}

@mixin titulo07 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32.38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin titulo08 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: left;
    align-items: left;
}

@mixin titulo09 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}

@mixin titulo10 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}

@mixin titulo11 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}

@mixin titulo12 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #000000;
}