@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");
@media only screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }
  .section__pianos {
    background-image: url(../img/alejandro_fondo.png);
    width: 100%;
    height: 751px;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .section__info {
    padding-top: 5vh;
    position: relative;
  }
  .section__sub {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
  }
  .section__tipos {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    height: 751px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .section__tipos--tipodetalle {
    width: 250px;
    height: 239px;
    background-color: white;
    border-radius: 10px;
  }
  .section__tipos--tipodetalle img {
    width: 80%;
    height: 80%;
    position: relative;
    bottom: 90px;
    left: 20px;
  }
  .textosPianos h3 {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 43px;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 28px;
    position: relative;
    left: 10px;
    bottom: 60px;
    display: flex;
  }
  .detallesPianos ul {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    position: relative;
    bottom: 50px;
    left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .ordenarPianos {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 45px;
  }
  .costobase {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    width: 160px;
    height: 35px;
    border: 1px black solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .carrito {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    width: 36px;
    height: 35px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
  }
  .section__pianos {
    background-image: url(../img/alejandro_fondo.png);
    width: 100%;
    height: 1356px;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .section__info {
    padding-top: 5vh;
    padding-bottom: 17vh;
    position: relative;
  }
  .section__sub {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32.38px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
  }
  .section__tipos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .section__tipos--tipodetalle {
    width: 250px;
    height: 350px;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 10px;
  }
  .section__tipos--tipodetalle img {
    width: 80%;
    height: 80%;
    position: relative;
    bottom: 90px;
    left: 20px;
  }
  .textosPianos h3 {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 28px;
    position: relative;
    left: 10px;
    bottom: 60px;
    display: flex;
  }
  .detallesPianos ul {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    position: relative;
    bottom: 50px;
    left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .ordenarPianos {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 45px;
  }
  .costobase {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    width: 160px;
    height: 35px;
    border: 1px black solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .carrito {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    width: 36px;
    height: 35px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1200px) {
  * {
    padding: 0;
    margin: 0;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .section__piano {
    background-image: url(../cint-img/image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
  }
  .section__piano .new {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .section__piano .new h1 {
    width: 400px;
    height: 100px;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    z-index: 1;
  }
  .section__piano .new__start {
    display: flex;
  }
  .section__piano .principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .section__piano .principal .grupo1 {
    padding: 100px;
    z-index: 1;
  }
  .section__piano .principal .grupo1 h2 {
    font-family: "Abril Fatface";
    font-size: 30px;
    color: #fff;
    z-index: 1;
  }
  .section__piano .principal .grupo1 .new__start {
    display: flex;
    width: 50%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
  }
  .section__piano .principal .grupo1 .new__start p {
    font-family: "Raleway";
    font-size: 20px;
    padding: 10px;
    color: #fff;
  }
  .section__piano .principal .grupo1 .new__precio h1 {
    font-family: "Abril Fatface";
    font-size: 30px;
    color: #fff;
  }
  .section__piano .principal .grupo1 .new__precio p {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 20px;
    padding: 5px;
    color: #fff;
  }
  .section__piano .principal .grupo1 .new__precio nav {
    width: 80%;
    height: 100%;
  }
  .section__piano .principal .grupo1 .new__precio ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section__piano .principal .grupo1 .new__precio ul li {
    list-style: none;
    width: 80%;
    padding: 10px;
  }
  .section__piano .principal .grupo1 .new__precio ul li a {
    font-family: "Raleway";
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
  }
  .section__piano .principal .grupo1 .new__precio .button {
    background-color: black;
    width: 250px;
    height: 40%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section__piano .principal .grupo1 .new__precio .button a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
  }
  .section__piano .principal .grupo2 {
    z-index: 1;
  }
  .section__piano::after {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#fff, #000, #fff);
    opacity: 0.7;
  }
}
.section__partners {
  background: linear-gradient(180deg, rgb(208, 204, 205) 28%, rgb(255, 255, 255) 70%);
}

.section__parag {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 60px;
  padding-top: 10%;
  padding-bottom: 5%;
}

.section__part1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7%;
}

.partner__div1 {
  background-color: black;
  color: white;
  width: 30%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  justify-content: right;
}
.partner__div1 .partners__paragraf1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.partner__div1--left {
  background-color: black;
  color: white;
  width: 30%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  justify-content: right;
  margin-left: -10%;
}
.partner__div1--left .partners__paragraf1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-right: 10%;
}

.partner__div1--right {
  background-color: black;
  color: white;
  width: 30%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding: right -1px;
  border-radius: 50px 0 0 50px;
}
.partner__div1--right .partners__paragraf1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-right: 10%;
}

.partner__div {
  background-color: black;
  color: white;
  width: 30%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
}
.partner__div .partners__paragraf {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner__div .partners__paragraf1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
.partner__div .partner1 {
  background-color: grey;
  width: 24%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 7px 22% 7px 7px;
}
.partner__div .partner2 {
  background-color: grey;
  width: 24%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 7px 22% 7px 7px;
}
.partner__div .partner6 {
  background-color: grey;
  width: 24%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 7px 22% 7px 7px;
}
.partner__div .partner7 {
  background-color: grey;
  width: 24%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 7px 22% 7px 7px;
}

.section__part2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7%;
}
.section__part2 .partner3 {
  background-color: grey;
  width: 24%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 7px 7px 7px 22%;
}
.section__part2 .partner4 {
  background-color: grey;
  width: 24%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 7px 7px 7px 22%;
}
.section__part2 .partner5 {
  background-color: grey;
  width: 10%;
  height: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 50px 0 0 50px;
  margin: 7px 0 7px 22%;
}

.section__part3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

* {
  margin: 0;
  padding: 0;
}

.section__contacto {
  background-image: url(../ferImg/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  margin-top: 12%;
}

.section__contacto::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.66);
}

.section__info1 {
  padding-top: 17vh;
  position: relative;
}

.section__sub {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}

.texto {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 30%;
  position: relative;
}

.section__label1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px 30%;
  position: relative;
}

.section__label2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30%;
  position: relative;
}
.section__label2 div {
  display: flex;
  flex-direction: column;
  width: 45%;
  position: relative;
}

.form-control {
  margin-top: 10px;
  position: relative;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.66);
  font-family: "Raleway";
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
}

.form-label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}

.section__label4 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 20px;
  margin: 20px 30% 0 30%;
  position: relative;
}
.section__label4 .label-paragraf {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  padding-bottom: 10px;
}
.section__label4 #messageArea {
  padding-top: 10px;
  height: 100px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.66);
  font-family: "Raleway";
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
}
.section__label4 .btn {
  background-color: black;
  color: white;
  border-radius: 7px;
  height: 30px;
}

* {
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
  flex-wrap: wrap;
  position: relative;
}

.footer__main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40%;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.nosotros {
  width: 30%;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}

.nosotros h2 {
  width: 100%;
}

ul {
  list-style: none;
  margin-top: 15px;
}

li {
  margin-top: 10px;
}

.contacto {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.relleno {
  height: 100 px;
  clear: both;
  background-color: transparent;
  color: transparent;
}

.footer__final {
  display: flex;
  width: 100%;
}

.redes {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.redes ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}

.redes li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: black 1px solid;
  border-radius: 60%;
  padding: 10px;
}

.derechos {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.derechos p {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 100px;
}

@media screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .section__piano {
    width: 100%;
    height: 100%;
    background-image: url(../cint-img/image2.png);
    align-content: center;
    background-size: cover;
  }
  .section__piano .new {
    width: 100%;
    height: 130px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .section__piano .new h1 {
    width: 400px;
    height: 100px;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    z-index: 1;
  }
  .section__piano .new__start {
    display: flex;
  }
  .section__piano .principal {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .section__piano .principal .grupo1 {
    background: linear-gradient(rgb(6, 6, 6), rgb(19, 18, 18), rgb(10, 10, 10), #fff);
  }
  .section__piano .principal .grupo1 h2 {
    margin-top: 40px;
    font-family: "Abril Fatface";
    font-size: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
  }
  .section__piano .principal .grupo1 .new__start {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .section__piano .principal .grupo1 .new__start p {
    font-family: "Raleway";
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #fff;
  }
  .section__piano .principal .grupo1 .new__precio h1 {
    font-family: "Abril Fatface";
    font-size: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
  }
  .section__piano .principal .grupo1 .new__precio p {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 20px 50px 10px 50px;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  .section__piano .principal .grupo1 .new__precio nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
  }
  .section__piano .principal .grupo1 .new__precio ul {
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .section__piano .principal .grupo1 .new__precio ul li {
    list-style: none;
    width: 100%;
    padding: 10px;
  }
  .section__piano .principal .grupo1 .new__precio ul li a {
    font-family: "Raleway";
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
  }
  .section__piano .principal .grupo1 .new__precio .button {
    width: 100%;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .section__piano .principal .grupo1 .new__precio .button a {
    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 15px 100px 15px 100px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
  }
  .section__piano .principal .grupo2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    z-index: 1;
  }
  .section__piano .principal .grupo2 .piano img {
    width: 100%;
    height: 100%;
  }
  .section__piano::before {
    content: "";
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#fff, #000, #fff);
    opacity: 0.7;
  }
}
@media only screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }
  footer {
    height: 100vh;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
  }
  .nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nosotros ul {
    display: flex;
    flex-direction: column;
  }
  .nosotros li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nosotros h2 {
    display: flex;
    justify-content: center;
  }
  .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacto ul {
    display: flex;
    flex-direction: column;
  }
  .contacto li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacto h2 {
    display: flex;
    justify-content: center;
  }
  .footer__final {
    display: flex;
    flex-direction: column;
  }
  .redes {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .redes ul {
    margin-left: 100px;
  }
  .derechos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .derechos p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .texto {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
  }
  .section__label1 {
    margin: 20px 5%;
  }
  .section__label2 {
    display: block;
    margin: 20px 5%;
  }
  .section__label2 div {
    width: 100%;
  }
  .section__label2 .form-label {
    width: 100%;
    margin-right: 0;
  }
  .section__label4 {
    margin: 20px 5% 0 5%;
  }
  .section__parag {
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .mobile-oc {
    display: none;
  }
  .mobile-border {
    border-radius: 50px 0 0 50px;
  }
  .mobile-border1 {
    border-radius: 0 50px 50px 0;
  }
  .partner__div {
    width: 100%;
  }
  .section__part1 {
    margin: 0 2% 7% 2%;
  }
  .section__part2 {
    margin: 0 2% 7% 2%;
  }
  .section__part3 {
    margin: 0 2% 7% 2%;
  }
  .partner__div1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */